.register {
  padding: 5%;
}

.register-form {
  width: 673px;
  height: 973px;

  background: #1b1c28;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  justify-content: flex-start;
  padding-top: 65px;
}
.register-form > h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  font-size: 36px;
  color: #ffffff;
}
.register-form > h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 24px;

  color: var(--text-color);
  margin-bottom: 50px;
}

.register-input {
  gap: 15px;
  margin-bottom: 30px;
}

.register-input > input {
  justify-content: center;
  background-color: #141521;
  width: 460px;
  height: 52px;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 18px;
  color: var(--color1);
  padding: 30px;
  outline: none;
  appearance: none;
}
.register-input > label {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  color: var(--color2);
  text-align: left;
}

.register-form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 463px;
  height: 60px;
  padding: 14px 32px;

  gap: 10px;

  background: #0bc1a0;
  border-radius: 6px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: white;

  margin-top: 25px;
  margin-bottom: 20px;
}
