.cases-hero {
  height: 100vh;
  background-image: var(--cases-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cases-hero h1 {
  font-size: 100px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
.cases-hero p {
  font-size: 18px;
  color: var(--text-color);
  width: 70%;
  margin-top: 23px;
  margin-bottom: 40px;
}
.cases-hero > h1,
.cases-hero > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.search-div {
  width: 645px;
  height: 52px;
  border-radius: 6px;
  background-color: var(--color3);
  padding-right: 19px;
}
.search-div > input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--color3);
  padding-left: 19px;
  outline: none;
}
.search-div > button {
  width: 64px;
  height: 36px;
  border-radius: 6px;
  background-color: var(--color1);
}

.search-div > input::placeholder {
  color: var(--text-color);
}
.search-div > input:focus {
  color: white;
}

/* Cases List Section */
.cases-list {
  padding-top: 10%;
}
.cases-list h1 {
  font-size: 60px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cases-list p {
  font-size: 18px;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 23px;
  margin-bottom: 69px;
}

.case {
  width: 1230px;
  height: 547px;
  background-color: #ffffff0d;
  border-radius: 12px;
  position: relative;
}

.case p {
  margin: 0px;
  padding: 1%;
  width: 100%;
  background-color: #00000033;
  backdrop-filter: blur(11px);
  position: absolute;
  top: 0;
  height: 15px;
  border-radius: 12px 12px 0px 0px;
  font-size: 12px;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  overflow: hidden;
}
