.sketch {
  padding: 2% 10%;
  justify-content: space-around;
  background-image: url("../../../assets/images/grid-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
  align-items: stretch;
}

.sketch-form {
  width: 40%;
  background-color: #141521;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  justify-content: flex-start;
  padding-top: 5%;
}
.sketch-container {
  width: 60%;
  background-color: #141521;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  gap: 30px;
}

.sketch-form > h1,
.sketch-container > h1 {
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 25px;
}

.sketch-input > label {
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: white;
}
.sketch-input > input {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #1b1c28;
  border-radius: 6px;
  width: 413px;
  height: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 30px;
  outline: none;
  color: #0bc1a0;
}

.sketch-input-file > input {
  padding-top: 30px;
}

.sketch-input > textarea {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #1b1c28;
  border-radius: 6px;
  width: 413px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 30px;
  padding-top: 30px;
  outline: none;
  color: #0bc1a0;
}

.ai-form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 80px;
  background: #0bc1a0;
  border-radius: 6px;
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  color: white;
  margin: 50px 0px;
  width: 413px;
}

.ai-sketch {
  width: 600px;
  height: 453px;
  background: #e8f1fc;
  border-radius: 6px;
}
