.news-hero {
  height: 100vh;
  padding: 5% 11%;
}

.news-header {
  width: 100%;
  height: 154px;
  background-color: #0bc1a0;
  color: white;
  border-radius: 6px;
  padding: 5% 20%;
  margin-bottom: 100px;
}

.news-header > h6 {
  font-weight: var(--font-weight-normal);
  font-size: 18px;
}
.news-header > p {
  font-size: 30px;
}

.news-pictures {
  gap: 20px;
}

.news-left,
.news-right {
  width: 590px;
  height: 410px;
  border-radius: 6px;
}
.news-left > img {
  width: 100%;
}

.news-right > img {
  width: 590px;
  height: 195px;
}
.news-right {
  gap: 20px;
}
