.news-hero {
  height: 100vh;
  padding: 5% 11%;
}

.news-header {
  width: 100%;
  height: 154px;
  background-color: #0bc1a0;
  color: white;
  border-radius: 6px;
  padding: 5% 20%;
  margin-bottom: 100px;
}

.news-header > h6 {
  font-weight: var(--font-weight-normal);
  font-size: 18px;
}
.news-header > p {
  font-size: 30px;
}

.news-pictures,
.news-right,
.hot-news {
  gap: 20px;
}

.news-left,
.news-right {
  width: 590px;
  height: 410px;
  border-radius: 6px;
}
.news-left > img {
  width: 100%;
}

.news-right > img {
  width: 590px;
  height: 195px;
}

.hot-news {
  margin-top: 100px;
}

.news-right > h3 {
  font-size: 30px;
  font-weight: var(--font-weight-semi);
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
.news-right > p {
  font-size: 20px;
  color: var(--text-color);
  text-align: justify;
}
.news-right > h4 {
  width: 100%;
  font-size: 20px;
  color: white;
  text-align: left;
}
