.investigator-case {
  padding: 5% 11%;
  gap: 30px;
}
.investigator-case-header,
.investigator-case-body {
  width: 100%;
  gap: 30px;
}

.case-evidence-container {
  width: 500px;
  height: 367px;
  background-color: #1b1c28;
  border: 1px solid #015949;
  border-radius: 16px;
  gap: 15px;
  padding: 50px 60px;
}

.case-evidence-container > h3 {
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  color: var(--color2);
  margin-bottom: 15px;
}

.case-evidences {
  gap: 15px;
}
.case-evidence {
  width: 100px;
  height: 100px;
  background-color: var(--color3);
  border-radius: 3px;
  border-left: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
}

.case-evidence-img {
  width: 100%;
  padding: 10%;
}
.add-evidence {
  width: 100%;
}

.case-suspects {
  width: 646px;
  height: 367px;
  background-color: #1b1c28;
  border: 1px solid #015949;
  border-radius: 16px;
  padding: 50px 60px;
  justify-content: space-between;
}

.case-suspects-header {
  width: 100%;
  justify-content: space-between;
}
.case-suspects-header > h3 {
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  color: var(--color2);
}
.case-suspects-header > button {
  color: var(--color1);
  width: 36px;
  height: 36px;
  background-color: #00000000;
  font-size: 40px;
}

.case-suspects-body {
  width: 100%;
  justify-content: flex-start;
  gap: 22px;
}

.case-suspects-body > button {
  width: 160px;
  height: 190px;
  background-color: #00000000;
}
.case-suspects-body > button > img {
  border-radius: 6px;
  width: 100%;
}

.case-map {
  width: 777px;
  height: 390px;
  background-color: #1b1c28;
  border: 1px solid #015949;
  border-radius: 16px;
  gap: 15px;
}

.inevstigator-case-body {
  width: 100%;
  gap: 30px;
}

.case-statements {
  width: 367px;
  height: 390px;
  background-color: #1b1c28;
  border: 1px solid #015949;
  border-radius: 16px;
  padding: 50px 60px;
  justify-content: flex-start;
}

.case-statements-header {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.case-statements-header > h3 {
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  color: var(--color2);
}
.case-statements-header > button {
  color: var(--color1);
  width: 36px;
  height: 36px;
  background-color: #00000000;
  font-size: 40px;
}

.case-statements-body > button {
  width: 253px;
  height: 50px;
  background-color: #00000000;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}
.case-statements-body > button > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.statement-info {
  gap: 5px;
}
.statement-info > h4 {
  color: var(--color2);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}
.statement-info > p {
  color: var(--text-color);
  font-size: 14px;
}
