.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #1b1c28;
  padding: 50px 55px;
  border-radius: 5px;
  min-width: 746px;
  height: 600px;
  border-radius: 16px;
}

.suspect-profile-header {
  justify-content: space-between;
  margin-bottom: 30px;
}
.suspect-profile-header > h2 {
  font-size: 30px;
  color: white;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
}
.suspect-profile-header > button {
  color: white;
  background-color: #0bc1a0;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

.suspect-profile-body > img {
  width: 163px;
  height: 190px;
  border-radius: 6px;
}

.suspect-data-container {
  gap: 10px;
  flex: 1;
}
.suspect-data {
  gap: 5px;
  padding-left: 30px;
  padding-right: 100px;
}
.suspect-data > img {
  width: 16px;
  height: 16px;
}
.suspect-data > p {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: white;
}

.suspect-data-button {
  width: 100px;
  height: 100px;
  background-color: #141521;
  border-top: 1px solid #0bc1a0;
  border-bottom: 1px solid #0bc1a0;
}
.suspect-data-button > img {
  width: 50px;
  height: 85px;
}

.suspect-map {
  justify-content: space-between;
  margin-top: 30px;
}
.suspect-map > .suspect-data,
.suspect-profile-body > .suspect-data {
  padding: 0px;
  gap: 5px;
}
.suspect-profile-body > .suspect-data {
  padding-top: 20px;
}

.suspect-map > button {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: #0bc1a0;
  background-color: #00000000;
}

.suspect-images > h3 {
  margin-top: 40px;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi);
  color: white;
  margin-bottom: 15px;
}
.suspect-images-container {
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
}
.suspect-images {
  margin-top: 30px;
}
/* .suspect-images-container > img {
  width: 198px;
  height: 170px;
} */

.add-statement-btn {
  width: 160px;
  height: 40px;
  color: white;
  background-color: #0bc1a0;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

.suspect-details > img {
  width: 500px;
}
