.case-hero {
  height: 100vh;
  background-image: var(--case-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.case-bio {
  width: auto;
  z-index: 1;
}
.case-bio > h1 {
  font-size: 100px;
  background: var(--primary-gradient);
}

.case-bio > h2 {
  font-size: 46.22px;
  background: var(--color2);
  text-align: right;
}

.case-bio > h1,
.case-bio > h2 {
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.image-one {
  position: absolute;
  width: 390px;
  height: 413px;
  transform: rotate(-3deg);
  background-size: cover;
  background-position: center;
  left: 300px;
  bottom: 120px;
}
.image-one img:nth-child(1) {
  width: 237px;
  height: 46px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-one img:nth-child(2) {
  width: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.half-paper {
  position: absolute;
  bottom: 0;
  left: 350px;
  width: 318px;
  height: 203px;
}

.image-two {
  position: absolute;
  width: 214px;
  height: 153px;
  transform: rotate(-10deg);
  bottom: 100px;
  left: 550px;
}
.image-two img:nth-child(1) {
  width: 237px;
  height: 46px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-two img:nth-child(2) {
  width: 100%;
}

.sticky-note {
  width: 165px;
  height: 156px;
  background-color: #0bc1a0;
  z-index: 100;
  position: absolute;
  left: 170px;
  transform: rotate(-5deg);
  overflow: hidden;
}
.sticky-note > p {
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.sticky-note > img {
  position: absolute;
  top: 0;
  width: 20px;
  height: 30px;
}

/* Case Description Section */

.case-description {
  position: relative;
  padding: 5% 10%;
}

.scene-tape {
  position: absolute;
  top: 0;
  width: 100%;
}

.back-btn {
  width: 75px;
  height: 30px;
  background-color: #00000000;
  color: var(--text-color);
}

.back-btn > img {
  width: 16px;
  height: 8px;
}
.back-btn > p {
  padding-left: 10px;
}

.description-header {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.case-status {
  margin: 0px 20px;
  background-color: var(--color3);
  border: 1px solid #0f0f0f;
  border-radius: 100px;
  color: var(--color2);
}
