.case-hero {
  height: 100vh;
  background-image: var(--case-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.case-bio {
  width: auto;
  z-index: 1;
}
.case-bio > h1 {
  font-size: 100px;
  background: var(--primary-gradient);
}

.case-bio > h2 {
  font-size: 46px;
  background: var(--color2);
  text-align: right;
}

.case-bio > h1,
.case-bio > h2 {
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.image-one {
  position: absolute;
  width: 390px;
  height: 413px;
  transform: rotate(-3deg);
  background-size: cover;
  background-position: center;
  left: 300px;
  bottom: 120px;
}
.image-one img:nth-child(1) {
  width: 237px;
  height: 46px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-one img:nth-child(2) {
  width: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.half-paper {
  position: absolute;
  bottom: 0;
  left: 350px;
  width: 318px;
  height: 203px;
}

.image-two {
  position: absolute;
  width: 214px;
  height: 153px;
  transform: rotate(-10deg);
  bottom: 100px;
  left: 550px;
}
.image-two img:nth-child(1) {
  width: 237px;
  height: 46px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-two img:nth-child(2) {
  width: 100%;
}

.sticky-note {
  width: 165px;
  height: 156px;
  background-color: #0bc1a0;
  z-index: 100;
  position: absolute;
  left: 170px;
  transform: rotate(-5deg);
  overflow: hidden;
}
.sticky-note > p {
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.sticky-note > img {
  position: absolute;
  top: 0;
  width: 20px;
  height: 30px;
}

/* Case Description Section */

.case-description {
  position: relative;
  padding: 5% 10%;
}

.scene-tape {
  position: absolute;
  top: 0;
  width: 100%;
}

.back-btn {
  width: 75px;
  height: 30px;
  background-color: #00000000;
  color: var(--text-color);
}

.back-btn > img {
  width: 16px;
  height: 8px;
}
.back-btn > p {
  padding-left: 10px;
}

.description-header {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.case-status {
  margin: 0px 20px;
  width: 121px;
  height: 33px;
  background-color: var(--color3);
  border: 1px solid #0f0f0f;
  border-radius: 100px;
  color: var(--color2);
}

.case-status > p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.case-status > img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.description-line {
  position: absolute;
  left: 100px;
  top: 300px;
}

.description-h1,
.description-h3 {
  font-size: 60px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.description-h1 {
  margin-bottom: 60px;
}

.description-h3 {
  font-size: 30px;
  margin-bottom: 23px;
}

.description-p,
.gallery p {
  font-size: 20px;
  color: var(--text-color);
}

.case-notice {
  background-color: #ff60601a;
  padding: 34px 46px;
  margin-top: 50px;
  margin-bottom: 60px;
  border-left: 4px solid #ff6060;
}
.case-notice h6 {
  font-size: 18px;
  color: #ff6060;
  margin-bottom: 9px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.case-notice p {
  font-size: 20px;
  color: #ff606066;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.gallery {
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 60px;
}

.gallery-container {
  gap: 150px;
}

.gallery-main {
  border-radius: 14px;
  width: 690px;
  height: 370px;
}
.main-picture {
  width: 100%;
  border-radius: 14px;
}

.gallery-sub {
  border-radius: 14px;
  width: 690px;
  gap: 16px;
}
.sub-picture {
  width: 160px;
  height: 135px;
}

.scene {
  width: 100%;
  height: 635px;
  background-color: #1b1c28;
  border-radius: 12px;
  margin-bottom: 60px;
}
.map {
  width: 100%;
  height: 635px;
  background-color: #1b1c28;
  border-radius: 12px;
  margin-bottom: 60px;
}

/* Tip Section */

.tip-section {
  width: 100%;
  height: 472px;
  background: #0bc1a01a;
  position: relative;
  margin-bottom: 90px;
}

.tip-h1 {
  font-size: 60px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 25px;
}
.tip-p {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.tip-button {
  width: 276px;
  height: 50px;
  background-color: var(--color1);
  color: var(--color2);
}

.left-hand {
  position: absolute;
  top: 50px;
  left: 400px;
  width: 170px;
  height: 182px;
}
.right-hand {
  position: absolute;
  bottom: 50px;
  right: 400px;
  width: 160px;
  height: 172px;
}

/* Comments Section */
.comments-section {
  position: relative;
  padding: 0% 10%;
}

.comments-input {
  width: 100%;
  height: 175px;
  background-color: #1b1c28;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
  border-radius: 6px;
  padding-left: 2%;
  padding-bottom: 8%;
}

.comments-input::placeholder {
  color: var(--text-color);
}

.comments-input:focus {
  outline: 0;
  color: var(--color2);
}

.comments-section > hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 100px;
  border-color: #1b1c28;
}

.comment-input {
  position: relative;
  width: 100%;
  height: 175px;
  background-color: #1b1c28;
  margin-bottom: 60px;
  border-radius: 6px;
}

.comment-input > button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 120px;
  height: 40px;
  background-color: #0bc1a0;
  color: white;
  border-radius: 1000px;
}

/* Comments Component Section */
.comments-header {
  justify-content: space-between;
}
.comments-header > div {
  justify-content: space-between;
  width: 150px;
}
.comments-header > div > h3 {
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: var(--color2);
}
.comments-header > div > span {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: #0bc1a0;
  background-color: #0bc1a04d;
  width: 36px;
  height: 24px;
  border: 1px solid black;
  border-radius: 100px;
}
.comments-header > button {
  background-color: #00000000;
}
.comments-header > button > img {
  justify-content: space-between;
  width: 24px;
  height: 24px;
}
