.error {
  height: 100vh;
  background-image: url("../../assets/images/error-bg.svg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.error > h1 {
  font-size: 60px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.error404 {
  width: 38%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.error404 > h1 {
  font-size: 300px;
  color: var(--color1);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.error404 > img {
  width: 25%;
}

.error > button {
  width: 25%;
  height: 80px;
  background-color: #0bc1a0;
  color: white;

  border-radius: 6px;
}
.error > button:hover {
  opacity: 0.7;
}
.error > button > p {
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: 600;
}
.error > button > img {
  width: 25px;
  filter: brightness(1000%);
  margin-right: 20px;
}

.magni1 {
  position: absolute;
  width: 493px;
  height: 485px;
  left: -100px;
}
.magni2 {
  position: absolute;
  width: 435px;
  height: 428px;
  bottom: -150px;
  left: 100px;
  transform: rotate(-20deg);
}

.magni3 {
  position: absolute;
  width: 358px;
  height: 353px;
  bottom: -150px;
  right: 100px;
  transform: rotate(-100deg);
  overflow: hidden;
}
.magni4 {
  position: absolute;
  width: 255px;
  height: 252px;
  right: 100px;
  transform: rotate(-100deg);
  overflow: hidden;
}
.magni5 {
  position: absolute;
  width: 155px;
  height: 153px;
  top: 100px;
  right: 100px;
  transform: rotate(-140deg);
  overflow: hidden;
}
